/*
 * ----------------------------------------
 * Colors
 * ----------------------------------------
 */
$primary:#9356DC;
$primarylight:#F5EDFF;
$secondary:#FF79DA;
$neongreen:#99E2D0;
$greenfont:#008766;
$grey:#EAEAEA;
$greylight:#F7F7F7;
$greystrong:#7E7E7E;
$white:#FFFFFF;
$footer: #353535;
$black: #000000;