/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * Responsive mode only
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * All
 * ----------------------------------------
 */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
 * ----------------------------------------
 * Colors
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * Responsive mode only
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * Loader
 * ----------------------------------------
 */
.loader__styled p {
  font-family: "Shrikhand", sans-serif;
  font-size: large;
}

/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
body {
  margin: auto;
  font-size: 16px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

.endpage__about a {
  color: white;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 17px;
}

.endpage__title {
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .endpage__title {
    display: flex;
    position: absolute;
    justify-content: end;
    right: 5%;
    margin-top: 35px;
  }
}
.endpage__title p {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.menu__title h1 {
  font-family: "Shrikhand", sans-serif;
}
.menu__space h2 {
  font-size: 16px;
  font-weight: 300;
  padding-top: 42px;
  padding-bottom: 5px;
  border-bottom: 3px solid;
  border-color: #99E2D0;
  width: 40px;
}
.menu__choice p {
  font-size: 15px;
}

/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
.btn {
  display: flex;
  justify-content: center;
}
.btn__mainstyled {
  width: 49%;
  height: 50px;
  margin-top: 25px;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .btn__mainstyled {
    width: 20%;
  }
}
.btn__mainstyled:active {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 0.9;
}

/*
 * ----------------------------------------
 * Button like
 * ----------------------------------------
 */
.empty-heart {
  position: absolute;
  visibility: visible;
  cursor: pointer;
}
.empty-heart:active {
  visibility: hidden;
}

.anim-heart {
  color: #FF79DA;
  opacity: 0;
  cursor: pointer;
}
.anim-heart:active {
  transform: scale(1.1);
  transition: transform 200ms;
  visibility: visible;
  opacity: 1;
}

/*
 * ----------------------------------------
 * styled Loader
 * ----------------------------------------
 */
.loader__styled {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  animation: loader__styled 3s ease-in-out 1s infinite forwards;
}

/*
 * ----------------------------------------
 * animation Loader
 * ----------------------------------------
 */
@keyframes loader__styled {
  /* UNE FOIS */
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    letter-spacing: 1em;
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    letter-spacing: 1em;
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    letter-spacing: 1em;
    opacity: 0.4;
  }
  70% {
    letter-spacing: 1em;
    opacity: 0.3;
  }
  80% {
    letter-spacing: 1em;
    opacity: 0.2;
  }
  90% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  /* FIN */
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -999;
  }
}
body {
  animation: disable-scroll 3000ms;
}

@keyframes disable-scroll {
  0% {
    overflow: hidden;
    height: 100%;
  }
  99% {
    overflow: hidden;
    height: 100%;
  }
  100% {
    overflow: visible;
    height: auto;
  }
}
/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
.homepage {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  z-index: 1;
}
.homepage .logo_omf_top {
  width: 162px;
  height: 44px;
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.back .fa-arrow-left {
  position: absolute;
  left: 6%;
  top: 23px;
  z-index: 2;
}

/*
 * ----------------------------------------
 * Loader
 * ----------------------------------------
 */
.loader__container {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 999;
  height: 100%;
  animation: hide 1s linear 2s 1 normal forwards;
}

/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.location__container {
  background-color: #EAEAEA;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.location__container p {
  font-size: 16px;
  margin-left: 15px;
}

.reservation__container {
  height: 285px;
  background-color: #F7F7F7;
}

.functioning__container {
  height: 440px;
  padding-left: 5%;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .functioning__container {
    height: 180px;
    padding-left: 0%;
  }
}

.restaurants__container {
  height: 1225px;
  padding-left: 5%;
  display: flex;
  flex-direction: column;
  background-color: #F7F7F7;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .restaurants__container {
    height: 700px;
    padding-left: 0%;
  }
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.menu__container {
  background-color: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  height: 1115px;
}
@media screen and (min-width: 992px) {
  .menu__container {
    width: 74%;
    position: relative;
    margin-left: 13%;
    bottom: 30px;
  }
}
.menu__highcontainer {
  background-color: #F7F7F7;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  height: 1200px;
}
@media screen and (min-width: 992px) {
  .menu__highcontainer {
    width: 74%;
    position: relative;
    margin-left: 13%;
    bottom: 30px;
  }
}

/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.reservation__title {
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}
.reservation__about {
  height: 45px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.functioning__title {
  margin-top: 48px;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .functioning__title {
    padding-left: 11%;
  }
}
.functioning__step {
  display: flex;
  flex-direction: column;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
}
@media screen and (min-width: 992px) {
  .functioning__step {
    flex-direction: row;
    justify-content: center;
  }
}

.restaurants__title {
  padding-top: 55px;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
}
@media screen and (min-width: 992px) {
  .restaurants__title {
    padding-left: 11%;
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
}
@media screen and (min-width: 992px) {
  .restaurants__card {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: center;
    padding-left: 4%;
  }
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.menu {
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .menu__background {
    background-color: #FFFFFF;
    position: relative;
    z-index: 0;
    top: 30px;
  }
}
.menu__title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.menu__space {
  padding-left: 4%;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .menu__space {
    margin-left: 17%;
  }
}
.menu__like {
  display: flex;
  align-items: center;
  font-size: 22px;
  padding-left: 25px;
}
.menu_info .h3 {
  width: 267px;
  height: 20px;
  top: 190px;
  left: 13px;
  gap: 50px;
}
.menu__text {
  display: flex;
  padding: 10px;
  min-width: 70%;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.menu__text h3, .menu__text p {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu__right {
  max-width: 30%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
.menu__price {
  width: 50%;
  background-color: white;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
  transform: translate(100%, 0);
  transition: transform 1000ms;
}
.menu__choice {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 96%;
  height: 70px;
  margin-top: 10px;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: transform 330ms ease-in-out;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .menu__choice {
    width: 75%;
  }
}
.menu__choice:hover .menu__price {
  transform: translate(0%, 0);
  transition: transform 1000ms;
}
.menu__choice:hover .box {
  transform: translate(0%, 0);
  transition: transform 1000ms;
}
.menu__choice:hover .box i {
  transform: rotate(-1turn);
  transition: transform 1000ms ease-in-out;
}
.menu__delay__one {
  animation-duration: 3s;
  animation-name: glissement;
  animation-delay: 0.5s;
}
.menu__delay__two {
  animation-duration: 3s;
  animation-name: glissement;
  animation-delay: 0.7s;
}
.menu__delay__three {
  animation-duration: 3s;
  animation-name: glissement;
  animation-delay: 0.9s;
}

.box {
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  background: #99E2D0;
  position: relative;
  transform: translate(110%, 0);
  transition: transform 1000ms;
}

.fa-circle-check {
  color: white;
  font-size: 22px;
}

@keyframes glissement {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.card img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.background {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.background .img {
  width: 100%;
  height: 275px;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
}
@media screen and (min-width: 992px) {
  .background .img {
    height: 956px;
    position: relative;
    bottom: 420px;
  }
}

/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
.endpage {
  height: 197px;
  background-color: #353535;
  padding-top: 22px;
  padding-left: 5%;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .endpage {
    height: 115px;
    position: relative;
  }
}
.endpage__about {
  color: #FFFFFF;
}
.endpage__about a:visited {
  color: #FFFFFF;
}
.endpage ul {
  padding-top: 9px;
  padding-inline-start: initial;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .endpage ul {
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-right: 22%;
    margin-top: 23px;
  }
}
.endpage li {
  display: flex;
  padding-top: 7px;
}
.endpage .icon__one i {
  width: 24px;
  padding-right: 10px;
}
.endpage .icon__two {
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .endpage .icon__two {
    padding-right: 40px;
  }
}
.endpage .icon__two i {
  width: 24px;
  padding-right: 10px;
}

/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.step {
  width: 92%;
  height: 72px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 3%;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .step {
    width: 25%;
  }
}
.step:active {
  background-color: #F5EDFF;
}
.step:active .fa-solid {
  color: #9356DC;
}

.fa-circle {
  color: #9356DC;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  transform: translateX(-12px);
}
.fa-circle__number {
  font-size: 14px;
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 8px;
  color: #FFFFFF;
}

.fa-mobile-screen-button,
.fa-list,
.fa-store {
  padding-left: 9%;
  padding-right: 7%;
  color: #7E7E7E;
}

/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.card {
  width: 95%;
  height: 250px;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .card {
    width: 40%;
  }
}
.card__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 29px;
  margin-top: 15px;
  right: 8%;
  border-radius: 2px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .card__panel {
    margin-left: 30%;
    right: auto;
  }
}
.card__panel p {
  color: #008766;
}
.card__info {
  padding-left: 3%;
}
.card__info h3 {
  padding-top: 15px;
}
.card__like {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 30px;
  right: 7%;
  font-size: 22px;
}

/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * Responsive mode only
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * All
 * ----------------------------------------
 */
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*
 * ----------------------------------------
 * Colors
 * ----------------------------------------
 */
/*
 * ----------------------------------------
 * Responsive mode only
 * ----------------------------------------
 */
/*
* ----------------------------------------
* Loader
* ----------------------------------------
*/
.loader__styled p {
  font-family: "Shrikhand", sans-serif;
  font-size: large;
}

/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
body {
  margin: auto;
  font-size: 16px;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

.endpage__about a {
  color: white;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 17px;
}

.endpage__title {
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .endpage__title {
    display: flex;
    position: absolute;
    justify-content: end;
    right: 5%;
    margin-top: 35px;
  }
}
.endpage__title p {
  font-family: "Shrikhand", sans-serif;
  font-size: 18px;
  color: #FFFFFF;
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.menu__title h1 {
  font-family: "Shrikhand", sans-serif;
}
.menu__space h2 {
  font-size: 16px;
  font-weight: 300;
  padding-top: 42px;
  padding-bottom: 5px;
  border-bottom: 3px solid;
  border-color: #99E2D0;
  width: 40px;
}
.menu__choice p {
  font-size: 15px;
  display: flex;
  -moz-column-gap: 100px;
       column-gap: 100px;
}

/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
.btn {
  display: flex;
  justify-content: center;
}
.btn__mainstyled {
  width: 49%;
  height: 50px;
  margin-top: 25px;
  border-radius: 25px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: #fff;
  cursor: pointer;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .btn__mainstyled {
    width: 20%;
  }
}
.btn__mainstyled:active {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 0.9;
}

/*
 * ----------------------------------------
 * Button like
 * ----------------------------------------
 */
.empty-heart {
  position: absolute;
  visibility: visible;
  transform: scale(1);
  transition: transform 500ms;
}
.empty-heart:active {
  visibility: hidden;
  cursor: pointer;
}

.anim-heart {
  position: absolute;
  color: #FF79DA;
  opacity: 0;
}
.anim-heart:active {
  transform: scale(1.1);
  visibility: visible;
  cursor: pointer;
  opacity: 1;
}

/*
 * ----------------------------------------
 * styled Loader
 * ----------------------------------------
 */
.loader__styled {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  animation: loader__styled 3s ease-in-out 1s infinite forwards;
}

/*
 * ----------------------------------------
 * animation Loader
 * ----------------------------------------
 */
@keyframes loader__styled {
  /* UNE FOIS */
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.9;
  }
  20% {
    letter-spacing: 1em;
    opacity: 0.8;
  }
  30% {
    opacity: 0.7;
  }
  40% {
    letter-spacing: 1em;
    opacity: 0.6;
  }
  50% {
    opacity: 0.5;
  }
  60% {
    letter-spacing: 1em;
    opacity: 0.4;
  }
  70% {
    letter-spacing: 1em;
    opacity: 0.3;
  }
  80% {
    letter-spacing: 1em;
    opacity: 0.2;
  }
  90% {
    opacity: 0;
    width: 100%;
    height: 100%;
  }
  /* FIN */
  100% {
    opacity: 0;
    width: 0%;
    height: 0%;
  }
}
@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -999;
  }
}
body {
  animation: disable-scroll 3000ms;
}

@keyframes disable-scroll {
  0% {
    overflow: hidden;
    height: 100%;
  }
  99% {
    overflow: hidden;
    height: 100%;
  }
  100% {
    overflow: visible;
    height: auto;
  }
}
/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
.homepage {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  z-index: 1;
}
.homepage .logo_omf_top {
  width: 162px;
  height: 44px;
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.back .fa-arrow-left {
  position: absolute;
  left: 6%;
  top: 23px;
  z-index: 2;
}

/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.reservation__title {
  height: 110px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 40px;
}
.reservation__about {
  height: 45px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.functioning__title {
  margin-top: 48px;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .functioning__title {
    padding-left: 11%;
  }
}
.functioning__step {
  display: flex;
  flex-direction: column;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
}
@media screen and (min-width: 992px) {
  .functioning__step {
    flex-direction: row;
    justify-content: center;
  }
}

.restaurants__title {
  padding-top: 55px;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
}
@media screen and (min-width: 992px) {
  .restaurants__title {
    padding-left: 11%;
  }
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
}
@media screen and (min-width: 992px) {
  .restaurants__card {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7%;
    justify-content: center;
    padding-left: 4%;
  }
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.menu {
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .menu__background {
    background-color: #FFFFFF;
    position: relative;
    z-index: 0;
    top: 30px;
  }
}
.menu__title {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.menu__space {
  padding-left: 3%;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .menu__space {
    margin-left: 17%;
  }
}
.menu__like {
  display: flex;
  align-items: center;
  font-size: 22px;
  padding-left: 25px;
}
.menu__containt {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}
.menu__price {
  transform: translate(150%, 0);
  transition: transform 1000ms;
  padding-right: 10px;
}
.menu__choice {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: nowrap;
  width: 97%;
  height: 70px;
  margin-top: 10px;
  padding-left: 3%;
  background: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: transform 330ms ease-in-out;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .menu__choice {
    width: 75%;
  }
}
.menu__choice:hover .menu__price {
  transform: translate(0%, 0);
  transition: transform 1000ms;
}
.menu__choice:hover .box {
  transform: translate(0%, 0);
  transition: transform 1000ms;
}
.menu__choice:hover .box i {
  transform: rotate(-1turn);
  transition: transform 1000ms ease-in-out;
}
@media screen and (min-width: 992px) {
  .menu__delay__one {
    animation-duration: 3s;
    animation-name: glissement;
    animation-delay: 0.5s;
  }
}
@media screen and (min-width: 992px) {
  .menu__delay__two {
    animation-duration: 3s;
    animation-name: glissement;
    animation-delay: 0.7s;
  }
}
@media screen and (min-width: 992px) {
  .menu__delay__three {
    animation-duration: 3s;
    animation-name: glissement;
    animation-delay: 0.9s;
  }
}

.box {
  height: 70px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  background: #99E2D0;
  position: relative;
  transform: translate(100%, 0);
  transition: transform 1000ms;
}

.fa-circle-check {
  color: white;
  font-size: 22px;
}

@keyframes glissement {
  from {
    margin-left: 100%;
    width: 100%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}
/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.card img {
  width: 100%;
  height: 175px;
  -o-object-fit: cover;
     object-fit: cover;
}

/*
 * ----------------------------------------
 * Other Pages
 * ----------------------------------------
 */
.background {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.background .img {
  width: 100%;
  height: 275px;
  /*
   * ----------------------------------------
   * Responsive mode desktop
   * ----------------------------------------
   */
}
@media screen and (min-width: 992px) {
  .background .img {
    height: 956px;
    position: relative;
    bottom: 420px;
  }
}

/*
 * ----------------------------------------
 * Homepage & Other Pages
 * ----------------------------------------
 */
.endpage {
  height: 197px;
  background-color: #353535;
  padding-top: 22px;
  padding-left: 5%;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .endpage {
    height: 115px;
    position: relative;
  }
}
.endpage__about {
  color: #FFFFFF;
}
.endpage__about a:visited {
  color: #FFFFFF;
}
.endpage ul {
  padding-top: 9px;
  padding-inline-start: initial;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .endpage ul {
    display: flex;
    gap: 15px;
    justify-content: end;
    margin-right: 22%;
    margin-top: 23px;
  }
}
.endpage li {
  display: flex;
  padding-top: 7px;
}
.endpage .icon__one i {
  width: 24px;
  padding-right: 10px;
}
.endpage .icon__two {
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .endpage .icon__two {
    padding-right: 40px;
  }
}
.endpage .icon__two i {
  width: 24px;
  padding-right: 10px;
}

/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.step {
  width: 92%;
  height: 72px;
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-left: 3%;
  border-radius: 20px;
  background-color: #F7F7F7;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .step {
    width: 25%;
  }
}
.step:active {
  background-color: #F5EDFF;
}
.step:active .fa-solid {
  color: #9356DC;
}

.fa-circle {
  color: #9356DC;
  font-size: 24px;
  position: absolute;
  z-index: 1;
  transform: translateX(-12px);
}
.fa-circle__number {
  font-size: 14px;
  position: absolute;
  z-index: 2;
  top: 5px;
  right: 8px;
  color: #FFFFFF;
}

.fa-mobile-screen-button,
.fa-list,
.fa-store {
  padding-left: 9%;
  padding-right: 7%;
  color: #7E7E7E;
}

/*
 * ----------------------------------------
 * Homepage
 * ----------------------------------------
 */
.card {
  width: 95%;
  height: 250px;
  margin-top: 20px;
  background-color: #FFFFFF;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .card {
    width: 40%;
  }
}
.card__panel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 80px;
  height: 29px;
  margin-top: 15px;
  right: 8%;
  border-radius: 2px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  /*
  * ----------------------------------------
  * Responsive mode desktop
  * ----------------------------------------
  */
  /*
  * ----------------------------------------
  */
}
@media screen and (min-width: 992px) {
  .card__panel {
    margin-left: 30%;
    right: auto;
  }
}
.card__panel p {
  color: #008766;
}
.card__info {
  padding-left: 3%;
}
.card__info h3 {
  padding-top: 15px;
}
.card__like {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 30px;
  right: 7%;
  font-size: 22px;
}/*# sourceMappingURL=style.css.map */